@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #c6ad8f;
  --secondary-color: #425664;
  --tertiary-color: #718089;
  --white: #ffffff;
  --heavy-gray: #484f56;
  --black: #000000;
  --middle-gray: #6d757e;
  --light-gray: #d9dfe5;
  --main-font: AlibabaPuhuiti, arial, sans-serif;
  --accent-font: Atyptext, arial, sans-serif;
}

body {
  background: #F3F3F3 url("/bg.jpg") repeat;
  background-size: contain;
}

input,
textarea {
  outline: none;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  @media (min-width: 768px) {
  }
  @media (min-width: 1440px) {
  }
  @media (min-width: 1920px) {
  }
  .row {
    padding: 0 24px;
    @media (min-width: 768px) {
      padding: 0 60px;
    }
    @media (min-width: 1440px) {
      padding: 0 93px;
    }
    @media (min-width: 1920px) {
      padding: 0 125px;
    }
  }
}

.center-flex {
  @apply flex items-center justify-center;
}

.icon {
  div {
    width: 100%;
    height: 100%;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.page {
  @apply pt-[40px] md:pt-[59px] xl:pt-[75px] 2xl:pt-[100px] flex-grow;
}

.page__title {
  @apply font-bold text-[22px] 2xl:text-[29px] leading-[20px] 2xl:leading-[26px] uppercase text-tertiary mb-[25px] md:mb-[36px] 2xl:mb-[40px];
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 12px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50px;
}
.loader:before {
  content: "Загрузка...";
}
@keyframes l2 {
  to {
    background-size: 100% 3px;
  }
}

@layer base {
  @font-face {
    font-family: AlibabaPuhuiti;
    src: url(/fonts/AlibabaPuhuiti/ALIBABAPUHUITI-2-105-HEAVY.OTF) format("opentype");
    font-display: swap;
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: AlibabaPuhuiti;
    src: url(/fonts/AlibabaPuhuiti/ALIBABAPUHUITI-2-65-MEDIUM.TTF) format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: AlibabaPuhuiti;
    src: url(/fonts/AlibabaPuhuiti/ALIBABAPUHUITI-2-105-LIGHT.OTF) format("opentype");
    font-display: swap;
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: AlibabaPuhuiti;
    src: url(/fonts/AlibabaPuhuiti/ALIBABAPUHUITI-2-55-REGULAR.OTF) format("opentype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: AlibabaPuhuiti;
    src: url(/fonts/AlibabaPuhuiti/ALIBABAPUHUITI-2-85-BOLD.OTF) format("opentype");
    font-display: swap;
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: Atyptext;
    src: url(/fonts/Atyptext/ATYPTEXT-MEDIUM.TTF) format("ttf");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: Atyptext;
    src: url(/fonts/Atyptext/ATYPTEXT-REGULAR.TTF) format("ttf");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: Atyptext;
    src: url(/fonts/Atyptext/ATYPTEXT-SEMIBOLD.TTF) format("ttf");
    font-display: swap;
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: Atyptext;
    src: url(/fonts/Atyptext/ATYPTEXT-THINITALIC.TTF) format("ttf");
    font-display: swap;
    font-weight: 300;
    font-style: normal;
  }

  html {
    font-family: "AlibabaPuhuiti", system-ui, sans-serif;
  }
}

@layer components {
  .page__titles {
    @apply font-bold
     text-[22px]
     leading-[20px]
     uppercase
     text-tertiary
     mb-[25px]
     2xl:text-[32px] 2xl:leading-[26px] 2xl:my-1920
     xl:text-[24px] xl:my-1440
     lg:my-768
     md:text-[21px] md:my-428;
     color: var(--heavy-gray);
     font-weight: 600;
  }
  .spinner {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-top-color: var(--primary-color);
    animation: spin 1s linear infinite;
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }
  .title {
    @apply font-[700]
    text-heavyGray
    text-[23px]
    xl:text-[30px]
    lg:text-[24px]
    md:text-[39px]
    uppercase;
  }
  .bg-letter {
    background: #fff url("/bg.jpg") repeat;
    background-size: contain;
  }
  .active-page {
    @apply text-primary;
  }
  .bor-dot {
    @apply border-dotted
    border-b-4
    border-[#C9C9C9];
  }
  .delivery-input {
    @apply h-16
    pl-8
    bg-transparent
    border
    border-[#D9D9D9]
    text-[#5E5E5E]
    text-[17px]
    xl:h-9
    xl:pl-5
    xl:text-[11px]
    2xl:h-14
    2xl:pl-6
    2xl:text-[14px];
  }
}
