.SiteLabel {
   align-items: center;
   background-color: var(--primary-color);
   color: var(--white);
   display: flex;
   font-family: var(--accent-font);
   font-size: 30px;
   height: 90px;
   justify-content: center;
   padding: .5em;
   text-align: center;
}