.SiteLabel {
   align-items: center;
   background-color: var(--primary-color);
   color: var(--white);
   display: flex;
   font-family: var(--accent-font);
   font-size: 30px;
   height: 90px;
   justify-content: center;
   padding: .5em;
   text-align: center;

   @media only screen and (max-width: 1840px) {
      font-size: 28px;
      height: 80px;
   }
   @media only screen and (max-width: 1680px) {
      font-size: 24px;
      height: 75px;
   }
   @media only screen and (max-width: 1460px) {
      font-size: 20px;
      height: 70px;
   }
   @media only screen and (max-width: 1120px) {
      font-size: 18px;
      height: 55px;
   }
   @media only screen and (max-width: 740px) {
      font-size: 16px;
      height: initial;
      padding-top: .52em;
   }
}